@import "tailwindcss";
@import "daisyui";
@plugin "daisyui/theme" {
  name: "spectra";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.041 260.031);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(12% 0.042 264.695);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(54% 0.245 262.881);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(26% 0.065 152.934);
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(25% 0.092 26.042);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
